<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Google Maps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" #map></div>
  <ion-fab bottom id="menuButtons" style="display: flex; justify-content: space-around;">
    <ion-row text-center>
      <ion-col>
        <ion-fab-button>
          <ion-icon name="navigate-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button>
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-fab>
</ion-content>
