.map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.map.visible {
  opacity: 1;
}

#menuButtons {
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 10px;
}

// Overlapping the search result list 
ion-searchbar {
  // padding: 1px !important;
  // position: absolute;
  padding-left: 5%;
  float: left;
  width: 90%;
}

#trashBin {
  // position: absolute;
  float: left;
  width: 5%;
}

ion-list {
  position: absolute;
  width: inherit;
  overflow-y: scroll;
  max-height: 150%;
  width: 70%;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);

  ion-item:hover {
    cursor: pointer;
    background: #f1f1f1;
  }
}